h1 { 
    font-family: Noto Sans, sans-serif;
    size: 200px;
}
h2 {
    font-family: Noto Sans, sans-serif;
}
a {
    font-family: Noto Sans, sans-serif;
}
ul {
    font-family: Noto Sans, sans-serif;
}
body {
    background-color: antiquewhite;
}